<html lang="en">
	<%- include('../partials/Head.ejs') %>

	<body>
		<%- include('../partials/Navbar.ejs') %>
		<section class="details content">
			<h2><%= blog.title %></h2>
			<div class="content">
				<p><%= blog.body %></p>
			</div>
			<!-- data = add own custom attribute -->
			<a class="delete" data-doc="<% blog._id %>">Delete</a>
		</section>

		<%- include('../partials/Footer.ejs') %>

		<script>
			const trashcan = document.querySelector("a.delete");
			trashcan.addEventListener("click", (e) => {
				const endpoint = `/blogs/${trashcan.dataset.doc}`;
				fetch(endpoint, {
					method: "DELETE",
				})
					.then((response) => response.json())
					.then((data) => (window.location.href = data.redirect))
					.catch((err) => console.log(err));
			});
		</script>
	</body>
</html>
